<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="settings">
      <ion-icon name="settings-sharp"></ion-icon>
      <ion-label>{{ 'settings' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>{{ 'about' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

