<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'about' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bg-white ion-no-margin">
    <ion-card-content>
      <h1 class="ion-margin-bottom">
        <ion-text color="primary"><strong>{{ 'app.title' | translate }}</strong></ion-text>
      </h1>
      
      <p class="ion-margin-bottom ion-margin-top">
        {{ 'about.app' | translate }}
      </p>
      
    </ion-card-content>
  </ion-card>

</ion-content>
